<div class="main">
  <h1 class="h">If you wish to adopt, contact:</h1>
  <a id="k1" href = "http://www.dogs.org.il/" >Adopting dogs</a>
    <a id="k2" href = "http://yad4.co.il/" >YAD4</a>
    <a id="k3" href = "http://www.yad2.co.il/Pets/Pets.php?PetTypeID=1" >yad2</a>
     <h1 class="hh">What kind of dog do you prefer?</h1>
     <h3 class="d1">Labrador</h3>
     <h3 class="d2">Amstaff</h3>
     <h3 class="d3">bulldog</h3>
     <h3 class="d4">Pekingese</h3>
    <input type="checkbox" class="c1">
    <input type="checkbox" class="c2">
    <input type="checkbox" class="c3">
    <input type="checkbox" class="c4">
    <img src="http://albums.tapuz.co.il/mfhp-webbuilder/5/b/3/2/805579413.jpg">
</div>
